*{padding: 0%;
margin: 0%;
}
body{
    background-color: #1C2333;
    color: #666D7E;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 1rem 15rem;
}

h1{
    text-align: center;
    background-color: #11192C;
    padding: 30px;
}
nav{
    float: left;
    background-color: #2F3440 ;
    padding: 30px;
    color: #2F3440;
    height: 49rem;
}

a{
    text-decoration: none;
    color: #8d9cc0;
}

a:hover{
    color: white;
    text-decoration: underline;
}

table, th, td{
    border: 3px #11192C solid;
    border-collapse: collapse;
}

